.col-sm-12 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-top:50%;
  margin-bottom:50%;
  display: inline-block:
  float: none;
  /*text-transform: uppercase;*/
}

p {
  font-size: 24px;
}

