/* GENERAL */
* {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 24px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

hr.fadedline {
  border: 0;
  height: 1px;
  clear: both;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.container {
  margin: 0 auto 0 auto;
  width: 740px;
  float: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* IMAGES */

img {
  float: right;
  margin: 0 0 20px 20px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius:8px;
  vertical-align:middle;
  max-width: 20%;
  min-width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* NAVIGATION */

#navigation {
  font-size:16px;
  margin: 20px;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  display: inline;
  width: 60px;
}

#navigation ul li a {
  color: black;
  padding: 8px 16px;
}

#navigation ul li a:focus {
  text-decoration: none;
}

#navigation ul li a:hover,
#navigation ul li a:active {
    background: #ccc;
    color: #fff;
    -webkit-border-radius: 3px;
    margin: 0;
    text-decoration: none; /* This seems to remove the underlining */
}
